<h1>⚡ Productos en tiempo real</h1>

<section>
  <h2>Agregar producto</h2>
  <form id="productForm">
    <input type="text" id="title" placeholder="Título" required />
    <input type="number" id="price" placeholder="Precio" required />
    <input type="text" id="category" placeholder="Categoría" required />
    <input type="text" id="description" placeholder="Descripción" />
    <input type="number" id="stock" placeholder="Stock" min="0" />
    <button type="submit">Agregar</button>
  </form>
</section>

<section>
  <h2>Listado de productos</h2>
 <ul id="productList" class="rt-list">
  {{#each products}}
    <li class="rt-item">
      <div class="rt-block">
        <div class="rt-name">{{this.title}}</div>

        <div class="rt-info">
          💵 ${{this.price}}
          {{#if this.category}} · 🎵 {{this.category}} {{/if}}
          {{#if this.stock}} · 📦 {{this.stock}} {{/if}}
        </div>
      </div>

      <button class="rt-delete-btn" data-id="{{this._id}}">Eliminar</button>
    </li>
  {{/each}}
</ul>



</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>

